# Renomeie este arquivo, ou crie outro, com nome terraform.tfvars
# Depois adicione os valores desejados para as variáveis abaixo.
# Isto evitará que sejam solicitados valores para estas variávies 
# quando forem executados os comandos do terraform.

rds-nome-usuario = "postgteadmin"
rds-senha-usuario = "Projeto112023"
rds-identificador = "projeto11"
rds-nome-banco = "openproject"
rds-tipo-instancia = "db.t3.micro"

# Nome do profile criado com AWS CLI com as
# credenciais do IAM.
profile = "nome_do_seu_profile"

# Especifique o nome da tag padrão utilizada nos nomes dos serviços
tag-base = "projeto11"

# Especifique o nome do bucket
nome-bucket = "ct-projeto11-ecs-op"

# Email para usar na configuração de envio
# A AWS enviará uma solicitação de confirmação para validar
user-email = "seu@email.com"

# Configurações mínima e máxima para o autoscaling
min-tasks = 2
max-tasks = 8

# Imagem do ECR para baixar a aplicação
# Se usar do Docker Hub terá que habilitar o NAT
image-ecr-uri = "id_da_conta.dkr.ecr.us-east-1.amazonaws.com/nome_imagem:tag_imagem"

# Define se serão criados NAT Gateways nas 
# subnets 
use-nat-gateway = false

# Define quantidade de CPU para cada task
ecs-vcpu = (2 * 1024) # 2 vCPU

# Define quantidade de memória para cada task
ecs-memory = (4 * 1024) # 4 GB de RAM